.questions {
  padding: 20px;
  background: linear-gradient(90deg, rgba(213, 51, 105, 0.09) 0%, rgba(192, 192, 192, 0.29) 100%);
  line-height: 26px;
}

.title {
  font-size: 24px;
}

.link {   
  display: block; 
  padding: 10px;
  border: 2px solid #bfa361;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 17px;
  font-family: inherit;
  background-color: #bfa361;
}

@media (min-width: 768px) {
  .questions {
    padding: 50px;
  }

  .questions a {
      width: 260px;
  }

  .text {
      margin-bottom: 30px;
  }
}