.contacts {
  margin-top: 56px;
  padding: 5px 25px;
  padding-bottom: 25px;
}

.contacts h1 {
  font-size: 24px;
}

.contacts .text {
  margin-bottom: 30px;
}

.contacts aside {
  color: #fff;
  background-color: #383838;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.contacts aside h2 {
  margin-top: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.contacts a {
  color: #fff;
}

@media (min-width: 768px) {
  .contacts {
    max-width: 850px;
    margin: 0 auto;
    padding: 25px 35px 35px;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
