.product {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;

    line-height: 26px;
    box-shadow: 0px 0px 5px #ccc;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #383838;
}

.table td,
.table th {
    padding: 5px;
}

.table th {
    background-color: #383838;
    color: #fff;
    border: 1px solid #383838;
}

.table td {
    border: 1px solid #383838;
}

.table tr:nth-child(2n + 1) {
    background-color: #e2e2e2;
}

.link {   
    display: block; 
    padding: 10px;

    border: 2px solid #bfa361;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 17px;
    font-family: inherit;
    background-color: #bfa361;
}