.sideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.link {   
    display: block; 
    padding: 10px;

    border: 2px solid #bfa361;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 17px;
    font-family: inherit;
    background-color: #bfa361;
}

@media (min-width: 500px) {
    .sideDrawer {
        display: none;
    }
}

.nav {
    margin-bottom: 15px;
    font-size: 19px;
}

.contacts {
    font-size: 13px;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}