.footer {
  padding: 20px;
  background-color: #383838;
  color: #ffffff;
}

.footer h2,
.footer a {
  color: #fff;
}

.footer aside {
  margin-bottom: 30px;
}

.footer aside h2 {
  display: none;
}

.text {
  margin-bottom: 30px;
}

.copyright {
  font-size: 12px;
  text-align: right;
  color: #9c9c9c;
}

.footerWrapper ul {
  display: none;
}

@media (min-width: 768px) { 
  .footer {
    padding: 40px 35px;
  } 

  .footerWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footerWrapper nav {
    width: 30%;
  }

  .footerWrapper ul {
    display: block;
  }
  
  .footerWrapper ul a {
    display: inline-block;
  }

  .aboutWrapper {
    width: 30%;
    text-align: center;
  }

  .text {
    font-size: 13px;
  }

  .footerWrapper aside {
    width: 30%;
    text-align: right;
  }
}