.fieldset {
  margin: 0 auto;
  padding: 20px;
  padding-top: 30px;
  border: none;
  background-color: #383838;
  color: #fff;
  border-radius: 10px;
}

.fieldset button {
  margin-top: 20px;
}

.fieldset textarea {
  min-height: 150px;
  resize: vertical;
}

.legend {
  width: 100%;
  margin-bottom: 20px;
  float: left;
  font-size: 20px;
}

.logo {
  margin-right: 10px;
  margin-bottom: -5px;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
}

.formField {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 4px 6px;
  font-size: 13px;
  color: #bfa361;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.formField:hover,
.formField:focus {
  border: 2px solid #bfa361;
}

.iconSpan {
  display: block;
  width: 100%;
  height: 100%; 
  position: relative;
}

.iconSpan svg {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 15px;
  height: 15px;
}

.iconSpan path {
  transition: fill 0.5s ease;
}

.iconSpan:hover path,
.iconSpan:focus-within path {
  fill: #bfa361;
}

